<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>

  <body>
    <%- include('../partials/navigation.ejs') %>

    <main>
      <form class="login-form" action="/reset" method="POST">
        <input
          type="text"
          name="_csrf"
          value="<%= csrfToken %>"
          style="width: 325px"
        />
        <div class="form-control">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" value="" />
        </div>

        <button type="submit">Reset Password</button>
      </form>
      <% if (errorMsg) { %>
      <div style="color: red; text-align: center; background-color: silver">
        <%= errorMsg %>
      </div>
      <% } %>
    </main>

    <%- include('../partials/script.ejs') %>
  </body>
</html>
