<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('../partials/navigation.ejs') %>
    <h1>Cart</h1>
    <% if (cart.length === 0) { %>
    <p>Your cart is empty.</p>
    <% } else { %> <% cart.forEach((cartItem) => { %>
    <div class="cart-item">
      <div class="cart-item-details">
        <p>Id: <%= cartItem.id %></p>
        <p>Title: <%= cartItem.title %></p>
        <p>
          Quantity: <%= cartItem.CartItem.quantity %> * <%= cartItem.price %>
        </p>
      </div>
    </div>
    <form action="/delete-cart-item" method="POST">
      <input type="hidden" name="productID" value="<%= cartItem.id %> " />
      <input type="hidden" name="productPrice" value="<%= cartItem.price %> " />
      <button>Delete</button>
    </form>
    <hr />
    <% }) %>
    <p>Total Price: Calculation needed</p>
    <% } %>
  </body>

  <%- include('../partials/script.ejs') %>
</html>
